{{ define "main" }}
  <div class="page-header">
    <h1>{{ .Title }}</h1>
    {{- with .Content }}<div>{{ . }}</div>{{- end }}
  </div>
  <ul class="post-list">
    {{- range .Pages.ByDate.Reverse }}
    <li class="post-item">
      <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
      <div class="post-meta">
        <time datetime="{{ .Date | time.Format "2006-01-02T15:04:05-07:00" }}">{{ .Date | time.Format "02 January 2006" }}</time>
        {{- with .GetTerms "tags" }}
        <ul class="tag-list">
          {{- range . }}<li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>{{ end }}
        </ul>
        {{- end }}
      </div>
    </li>
    {{- end }}
  </ul>
{{ end }}
